@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,400,400i,600&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  color: #000000; }

.flex-fill-custom {
  flex: 1 !important; }

.nav-icon a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color: #808080 !important; }

.nav-icon a:hover {
  text-decoration: none; }

.main-nav {
  border-bottom: 1px solid #e1e1e1; }
  .main-nav .nav-item .nav-link {
    color: #121f38;
    font-size: 13px; }

.custom-jumbotron {
  background-color: #f9f5e5; }

.carousel, .carousel .carousel-inner, .carousel .carousel-item {
  width: 100%;
  max-height: 45vh; }

.noImg {
  width: 100%;
  height: 25vh;
  background-color: #f9f5e5; }

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  color: black; }
  .carousel-caption h1 {
    font-weight: 300; }

.jumbotron .title {
  font-family: 'Indie Flower', cursive; }

.gallery-image {
  margin-top: 15px;
  margin-bottom: 15px; }
