@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Great+Vibes|Lora:,400,400i,500,700&display=swap');
// Wedding Colors
$grey: #808080;
$offwhite: #f9f5e5;
$pink: #f7ddd9;
$darkred: #591f29;
$bordercolor: #e1e1e1;
// $primary-color: #FF6B6B;
$primary-color: #F07677;
// $primary-color: $pink;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);


body {
    font-family: 'Lora', serif;
    color: #000000;

}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/Hero1BW.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1, p {
        color: white;
    }

    h1 {
        font-family: 'Indie Flower', cursive;
        font-size: 55px;
        // margin-top: 15vh;
    }

    p {
        font-style: italic;
    }

    .landing-date {
        color: $primary-color;
        font-size: 28px;
        font-style: italic
    }

    .landing-btn {
        margin-top: 45px;
        color: white;
        background-color: $primary-color;
    }
  }


// NAVBAR STYLES

.flex-fill-custom {
    flex:1 !important;   
 }

.nav-icon a {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    color: $grey !important;
}

.nav-icon a:hover {
    text-decoration: none;
}

.main-nav {
    border-bottom: 1px solid $bordercolor;
    background-color: white;

    .nav-item .nav-link {
        color: #121f38;
        font-size: 13px;
    }
}

// Hero section styles
#hero {
    -webkit-align-content: center;
    align-content: center;
    background-color: #f9ad81;
    background-image: url('../images/topo.svg');
    background-size: cover;
    -webkit-background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    min-height: 100vh;
    padding-top: 8em;
    padding-bottom: 1em;
    text-align: center;

    #overview, .rsvp-description {
        text-align: center;
    }

    #site-title-pane {
        padding-bottom: 4rem;
    }

    h1 {
        margin-bottom: 0;
        letter-spacing: 0;
        font-weight: 500;
    }

    p.byline {
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: 500;
    }

    .scrollformore {
        font-weight: 500;
        letter-spacing: .2em;
    }
}



.pane {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 50vh;
    position: relative;
    width: 100%;
    padding: 6rem 1.5em;
}

.pane .pane-title, .pane .title-section {
    margin-bottom: 2em;
}

.pane .pane-content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.pane .pane-row {
    display: block;
    margin-bottom: 3em;
}

.larger {
    font-size: 1.2em;
}





// Overview section styles
#overview {
    background-color: white;
    text-align: center;

    h2 {
        color: #b18f3a;
        margin-bottom: .25em;
    }

    .underline {
        display: block;
        width: 60px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: #333;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
}

#schedule {
    background-color: darkgreen;
}

#lodging {
    background-color: lightcoral;
}

#wedding-party {
    background-color: white;
}

#registry {
    background-color: lightseagreen;
}

#faq {
    background-color: white;
}




@media screen and (min-width: 1024px) {
    #hero h1 {
        font-size: 4rem;
    }

    #hero p.byline {
        font-size: 1.875rem;
    }

    #overview .who {
        float: left;
        display: block;
        width: 32%;
        margin-right: 0;
        margin-left: 34%;
    }
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 3rem;
    }
}













.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.custom-jumbotron {
    background-position: center;
    background-size: cover;
    padding: 20rem 2rem;        
}

.home-hero {
    background-repeat: no-repeat;
    // background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('../images/Hero1BW.jpg');
    background: url('../images/Hero1BW.jpg');
    // height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding-top: 250px;
    padding-bottom: 250px;
    background-attachment: fixed;
    margin-bottom: 0;
}

// .container-fluid {
//     .row {
//         padding: 0 0 4em 0;
//         &:nth-child(even) {
//             background: #F1F4F5;
//         }
//     }
// }

// About container wrapper
.about-container-wrapper {
    background: url('../images/custom_bg.jpg');
    background-size: cover;
}

// About container
.about-container {
    padding-top: 50px;
    padding-bottom: 50px;

    .about-header {
        text-align: center;
        margin-bottom: 60px;
        h1 {
            font-size: 40px;
            font-weight: 400;
        }
    }

    .groom-card, .bride-card {
        text-align: center;

        h2 {
            font-size: 30px;
            font-family: 'Great Vibes', cursive;
            color: $primary-color;
        }

        .rounded-img {
            margin-bottom: 57px;
        }
    }

    .about-card {
        text-align: center;

        h1 {
            font-family: 'Great Vibes', cursive;
            font-size: 60px;
            margin: 0px;
            position: relative;
            display: inline-block;
            width: auto;
            float: none;
        }

        h1::after {
            content: "";
            position: absolute;
            bottom: 10px;
            right: 0px;
            width: 70%;
            border-bottom: 1px solid $primary-color;
        }

        .date-box {
            padding: 45px 0px 20px;
            h3 {
                font-size: 30px;
                color: $primary-color;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            h2 {
                font-size: 30px;
                color: #222222;
                margin-bottom: 26px;
            }

            p {
                font-weight: 400;
                font-style: italic;
                font-size: 14px;
            }
        }

        .book-btn {
            // font-size: 18px;
            line-height: 49px;
            height: 50px;
            min-width: 150px;
            border-radius: 50px;
            border: none;
            padding: 0px 30px;
            background-color: $primary-color;
            color: white;
            font-weight: 700;
        }
    }

    .about-card, .groom-card, .bride-card {
        margin-bottom: 40px;
        border-color: transparent;
    }
}

.center-words {
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    float: left;


    h4 {
        display: inline-block;
        width: auto;
        font-size: 20px;
        padding: 0px 15px;
        background-color: #ffffff;
    }
}

.center-words:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    background-color: $grey;
    height: 1px;
    z-index: -1;
}


// TIMELINE STYLES
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: $primary-color;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px; left: 0;
            width: 15px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 3px;
            background: #CCD5DB;
            display: block;
            position: absolute;
            top: 24px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid $primary-color;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
    }

    .timeline-title {
        font-family: 'Indie Flower', cursive;
        margin-bottom: 1rem;
        margin-top: 5px;
    }


.timeline-centered {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }
        .timeline-item {
            display: table-row;
            padding: 0;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding-left: 30px;
        }
        .timeline-info {
            padding-right: 30px;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 50%;
        }
        > .timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }    
        > .timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}

/*----------------------------------------------
MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: $primary-color;
        }
    }
    .timeline-item:hover .timeline-marker:before {
        background: $primary-color;
    }
}

.jumbotron {
    .title {
        font-family: 'Indie Flower', cursive;
        font-size: 75px;
        text-align: center;
    }

    .lead {
        font-family: 'Indie Flower', cursive;
        text-align: center;
    }

    .title, .lead {
        color: $offwhite;
    }
}

.carousel, .carousel .carousel-inner, .carousel .carousel-item {
    width: 100%;
    max-height: 45vh;
}

.noImg {
    width: 100%;
    height: 25vh;
    background-color: $offwhite;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    color: black;
    
    h1 {
        font-weight: 300;
    }
}

// PHOTOGALLERY STYLES
.gallery-image {
    margin-top: 15px;
    margin-bottom: 15px;
}



// Media queries
@media screen and (max-width: 991px) {
    .custom-jumbotron {
        padding: 12rem 2rem;
    }

    .jumbotron .title {
        font-size: 65px
    }
}

@media screen and (max-width: 767px) {
    .custom-jumbotron {
        padding: 5rem 1rem;
    }

    .jumbotron .title {
        font-size: 45px;
    }

    .navbar-toggler {
        padding: 1px 7px;
    }
}

@media screen and (max-width: 575px) {
    .jumbotron .title {
        font-size: 25px;
    }

    .jumbotron .lead {
        font-size: 16px;
    }

    .nav-icon a {
        font-size: 24px;        
    }
}